@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292828;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.player-one-mask {
  mask-image: 
    linear-gradient(to right, black 10%, transparent),
    linear-gradient(black 90%, transparent);
  mask-composite: intersect;
}

.player-two-mask {
  mask-image: 
    linear-gradient(to left, black 10%, transparent),
    linear-gradient(black 90%, transparent);
  mask-composite: intersect;
}

.show-input {
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: enter-slide-down;
  animation-fill-mode: forwards;
}

.hide-input {
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: exit-slide-up;
  animation-fill-mode: forwards;
}

.show-chat {
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: enter-slide-up;
  animation-fill-mode: forwards;
}

.hide-chat {
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: exit-slide-down;
  animation-fill-mode: forwards;
}

@keyframes enter-slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100
  }
}

@keyframes exit-slide-down {
  0% {
    /* transform: translateY(-100%); */
    opacity: 100;
  }
  100% {
    /* transform: translateY(0%); */
    opacity: 0;
    display: none;
  }
}

@keyframes exit-slide-up {
  0% {
    transform: translateY(0%);
    opacity: 100
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
    display: none;
  }
}

@keyframes enter-slide-up {
  0% {
    /* transform: translateY(100%); */
    opacity: 0
  }
  100% {
    /* transform: translateY(0%); */
    opacity: 100;
  }
}